<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.1" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net45" />
</packages>