<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.7" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0-beta2" targetFramework="net45" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0-preview1-10414-01" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0-preview1-25214-03" targetFramework="net45" />
</packages>